BasedOnStyle: Microsoft

IndentWidth: 2
MaxEmptyLinesToKeep: 2
ColumnLimit: 100
InsertNewlineAtEOF: true

AllowShortFunctionsOnASingleLine: Inline

BinPackArguments: false
BinPackParameters: false

AlignAfterOpenBracket: AlwaysBreak
ContinuationIndentWidth: 2
BracedInitializerIndentWidth: 2
InsertTrailingCommas: Wrapped
AlignOperands: DontAlign
